
/* Your CSS Code here. */
#btn{
	Background-Colour:black;
Font-Colour:white;
Border-Radius:	5px;
Border:none;
}
#btn:hover{
/* 	color:yellow; */
	background-color:rgb(0,0,0);
	color:black:
Border-Radius:30px;
}